## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Kirakira,SB,78.03,Rain,-10.4544,161.9205,SanBiz Lodge
1,20,Broome,US,80.02,Clear,42.2506,-75.8330,Chenango Valley State Park
2,28,Georgetown,MY,78.89,Clouds,5.4112,100.3354,Cititel Penang
3,32,Hithadhoo,MV,82.40,Clouds,-0.6000,73.0833,Scoop Guest House
4,34,Shingu,JP,80.91,Clouds,33.7333,135.9833,Shingu UI Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,7,Kirakira,SB,78.03,Rain,-10.4544,161.9205,SanBiz Lodge
1,20,Broome,US,80.02,Clear,42.2506,-75.8330,Chenango Valley State Park
2,28,Georgetown,MY,78.89,Clouds,5.4112,100.3354,Cititel Penang
3,32,Hithadhoo,MV,82.40,Clouds,-0.6000,73.0833,Scoop Guest House
4,34,Shingu,JP,80.91,Clouds,33.7333,135.9833,Shingu UI Hotel
...,...,...,...,...,...,...,...,...
118,526,Santa Cruz De La Palma,ES,79.14,Clouds,28.6835,-17.7642,H10 Taburiente Playa
119,533,Gizo,SB,81.23,Clouds,-8.1030,156.8419,Imagination Island
120,543,Taganak,PH,81.91,Clouds,6.0833,118.3000,Taganak
121,544,Bandarbeyla,SO,77.04,Clouds,9.4942,50.8122,JABIR HOTEL
122,546,Kismayo,SO,76.24,Clouds,-0.3582,42.5454,Agan-Hotel

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df["City"] == 'Kankakee']
vacation_end_df = vacation_df.loc[vacation_df["City"] == 'Kankakee']
vacation_stop1_df = vacation_df.loc[vacation_df["City"] == 'Terre Haute']
vacation_stop2_df = vacation_df.loc[vacation_df["City"] == 'Bud'] 
vacation_stop3_df = vacation_df.loc[vacation_df["City"] == 'Jamestown']

In [7]:
vacation_stop1_df["Lat"]

30    39.4667
Name: Lat, dtype: float64

In [8]:
vacation_start_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
81,373,Kankakee,US,81.99,Clear,41.15,-87.8667,Fairfield Inn by Marriott Kankakee Bourbonnais

In [9]:
vacation_start_df["Lng"]

81   -87.8667
Name: Lng, dtype: float64

In [10]:
vacation_start_df["Lat"].to_numpy()

array([41.15])

In [17]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start_df["Lat"].to_numpy(), vacation_start_df["Lng"].to_numpy()
end = vacation_end_df["Lat"].to_numpy(), vacation_end_df["Lng"].to_numpy()
stop1 = vacation_stop1_df["Lat"].to_numpy(), vacation_stop1_df["Lng"].to_numpy()
stop2 = vacation_stop2_df["Lat"].to_numpy(), vacation_stop2_df["Lng"].to_numpy()
stop3 = vacation_stop3_df["Lat"].to_numpy(), vacation_stop3_df["Lng"].to_numpy()

In [12]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure

# Latitude-longitude pairs
Kankakee = (41.15, -87.87)
TerreHaute = (39.47, -87.4)
Bud = (39.4, -86.1)
Jamestown = (42.1, -79.2)

fig = gmaps.figure()
kankakee2jamestown = gmaps.directions_layer(Kankakee, Kankakee, waypoints=[TerreHaute, Bud, Jamestown], 
                    travel_mode="DRIVING")
fig.add_layer(kankakee2jamestown)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_end_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,373,Kankakee,US,81.99,Clear,41.1500,-87.8667,Fairfield Inn by Marriott Kankakee Bourbonnais
1,373,Kankakee,US,81.99,Clear,41.1500,-87.8667,Fairfield Inn by Marriott Kankakee Bourbonnais
2,142,Terre Haute,US,82.67,Clear,39.4667,-87.4139,Drury Inn & Suites Terre Haute
3,204,Bud,US,83.43,Clouds,39.4470,-86.1758,Ted McQuinn Trust
4,54,Jamestown,US,78.08,Clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))